<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk5z3F-HHHSewlf4jU04oAt1GFzXf6VIc</string>
	<key>GCM_SENDER_ID</key>
	<string>523286577146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-43ccb</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-43ccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523286577146:ios:7282e42156e2547359ee43</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-43ccb-default-rtdb.firebaseio.com</string>
</dict>
</plist>